@import "../../App.scss";

img {
  max-width: 100%;
}

.container {
  display: grid;
  grid-template-areas:
    "card-size-1 card-size-1  card-size-2 card-size-3"
    "card-size-1 card-size-1  card-size-4 card-size-5";
  gap: 10px;
  padding: 48px 12px 0 12px;
  height: 100%;

  @include tablet {
    grid-template-areas:
      "card-size-1 card-size-1  card-size-2"
      "card-size-3 card-size-4  card-size-5";
  }

  @include mobile {
    grid-template-areas:
      "card-size-1 card-size-1 "
      "card-size-2 card-size-3"
      "card-size-4 card-size-5";
  }

  .card-container {
    display: flex;
    flex-direction: column;
    color: #fff;
    height: fit-content;

    .card-title {
      margin: 0.5% 0;
    }
    .card-description {
      margin: 0.5% 0;
    }

    .card-btn {
      color: #fff;
      margin: 1% 0;
      font-weight: bolder;
    }
  }

  .card-size-1 {
    grid-area: card-size-1;
    img {
      height: 350px;
      @include tablet {
        height: 325px;
      }
      @include tablet {
        height: 255px;
      }
    }
  }

  .card-size-2 {
    grid-area: card-size-2;
    img {
      height: 137px;
    }

    h1 {
      font-size: clamp(1rem, 0.8209rem + 0.8762vi, 1.5rem);
    }
  }

  .card-size-3 {
    grid-area: card-size-3;
    img {
      height: 137px;
    }

    h1 {
      font-size: clamp(1rem, 0.8209rem + 0.8762vi, 1.5rem);
    }
  }
  .card-size-4 {
    grid-area: card-size-4;
    img {
      height: 137px;
    }

    h1 {
      font-size: clamp(1rem, 0.8209rem + 0.8762vi, 1.5rem);
    }
  }
  .card-size-5 {
    grid-area: card-size-5;
    img {
      height: 137px;
    }

    h1 {
      font-size: clamp(1rem, 0.8209rem + 0.8762vi, 1.5rem);
    }
  }
}
