@import "../../App.scss";

$color-paragraph: #fff; // Color texto
$sub-title-color: #e25b46; // Color para subtítulos

$h2-size: clamp(1.5625rem, 1.2267rem + 1.6429vi, 2.5rem);
$h3-size: clamp(1rem, 0.8209rem + 0.8762vi, 1.5rem);

// Espaciado y dimensiones
$card-padding: 48px 12px 0 12px; // Padding para contenedor de tarjetas
$img-card-height: 350px; // Altura inicial para imágenes de tarjetas
$tablet-img-card-height: 325px; // Altura para imágenes de tarjetas en tablet
$mobile-img-card-height: 255px; // Altura para imágenes de tarjetas en dispositivos móviles
$img-card-size-2-height: 137px; // Altura para imágenes de tarjetas en tamaño 2

img {
  max-width: 100%;
}

.card-noticias__container {
  display: grid;
  grid-template-areas:
    "card-size-1 card-size-1  card-size-2 card-size-3"
    "card-size-1 card-size-1  card-size-4 card-size-5";
  gap: 10px;
  padding: $card-padding;
  height: 100%;

  @include tablet {
    grid-template-areas:
      "card-size-1 card-size-1  card-size-2"
      "card-size-3 card-size-4  card-size-5";
  }

  @include mobile {
    grid-template-areas:
      "card-size-1 card-size-1 "
      "card-size-2 card-size-3"
      "card-size-4 card-size-5";
  }

  .img-card-container {
    display: flex;
    flex-direction: column;
    color: $color-paragraph;
    height: fit-content;

    .img-card__title {
      margin: 0.5% 0;
    }
    h2 {
      font-size: $h3-size;
      color: $sub-title-color;
    }

    .img-card__description {
      margin: 0.5% 0;
    }

    .img-card__button {
      margin: 1% 0;
      font-weight: bolder;
      a {
        @include lineEffect();
        text-decoration: none;
        color: $color-paragraph;
      }
    }
  }

  .card-size-1 {
    grid-area: card-size-1;

    img {
      height: $img-card-height;

      @include tablet {
        height: $tablet-img-card-height;
      }

      @include mobile {
        height: $mobile-img-card-height;
      }
    }

    h2 {
      font-size: $h2-size;
      // @include h2Styles();
    }
  }

  .card-size-2 {
    grid-area: card-size-2;

    img {
      height: $img-card-size-2-height;
    }
  }

  .card-size-3 {
    grid-area: card-size-3;

    img {
      height: 137px;
    }
  }

  .card-size-4 {
    grid-area: card-size-4;

    img {
      height: 137px;
    }
  }

  .card-size-5 {
    grid-area: card-size-5;

    img {
      height: 137px;
    }
  }
}
