.newsContainer {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .newsContainer::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 70px;
    left: 50%;
    margin-left: 1px;
    margin-top: 10px;
    background-color: #da9f5b;
  }

  .title {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .subTitle {
      display: flex;
      align-items: center;
      gap: 50px;

      h1 {
        font-size: 95px;
        font-weight: 100;
        padding-top: 5rem;
      }
    }
  }

  .title::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 70px;
    left: 50%;
    margin-left: 1px;
    margin-top: 10px;
    background-color: #da9f5b;
  }

  .card {
    margin-bottom: 40px;
  }
}
