@import "../../App.scss";

.newsContainer {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1366px;
  margin: 0 auto;

  .title {
    display: flex;
    justify-content: center;

    @include mobile {
      text-align: center;
    }

    h1 {
      font-size: clamp(2.5rem, 1.2688rem + 6.0241vi, 5.9375rem);
      font-weight: 100;
      padding-top: 5rem;
    }

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 70px;
      left: 50%;
      margin-left: 1px;
      margin-top: 10px;
      background-color: #da9f5b;
    }
  }
}
