@import "../../App.scss";

.about {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  position: relative;
  max-width: 1366px;

  .titleAbout {
    display: flex;
    text-align: center;
    margin-bottom: 5%;

    h1 {
      font-size: clamp(2.5rem, 1.2688rem + 6.0241vi, 5.9375rem);
      font-weight: 100;
      padding-top: 5rem;
    }

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 70px;
      left: 50%;
      margin-left: 1px;
      margin-top: 10px;
      background-color: #da9f5b;
    }
  }

  .listAbout {
    display: flex;
    justify-content: space-around; //!este

    .textAbout {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // max-width: 350px;

      h1 {
        font-size: 2.3rem;
      }
      h2 {
        font-size: 1.6rem;
        color: #33211d;
      }
      p {
        color: #555555;
        font-size: 1.3rem;
      }
      .textItem {
        font-size: 1.6rem;

        li {
          // margin-bottom: 4px;
          color: #33211d;
        }
      }
      button {
        background-color: orange;
      }
    }
    img {
      width: 480px;
    }
  }
}
