@import "../../App.scss";
// Colores
$color-button: #23aea8; // Color principal para botones
$sub-title-color: #e25b46; // Color para subtítulos
$text-color: #03111e; // Color principal para el titulo
$text-color-secondary: #33211d; // Color secundario para texto
$link-color: #f80c7e; // Color para enlaces
$text-color-button: #fff; // Color para el texto de los botones
$color-paragraph: #552026; // Color texto
$about-color: #fbf4e0; // Color de ondo secundario

// Tamaños de texto
$h1-size: clamp(2.5rem, 1.2688rem + 6.0241vi, 5.9375rem);
$h2-size: clamp(1.5625rem, 1.2267rem + 1.6429vi, 2.5rem);
$h3-size: clamp(1.125rem, 1.0802rem + 0.2191vi, 1.25rem);
$paragraph-size: clamp(1rem, 0.9552rem + 0.2191vi, 1.125rem);

// Espaciado y dimensiones
$button-width: 8.063rem; // Ancho de los botones
$button-padding-y: 0.8em; // Padding vertical para los botones
$button-padding-x: 1.5em; // Padding horizontal para los botones
$button-border-radius: 5px; // Radio de borde para los botones

.about {
  background: $about-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  max-width: 1366px;

  @include tablet {
    height: auto;
  }

  .about__title {
    display: flex;
    justify-content: center;

    @include mobile {
      text-align: center;
    }

    h1 {
      font-size: $h1-size;
      font-weight: 100;
      padding-top: 3rem;
      color: $text-color;
    }

    @include verticalLine();
  }

  .about__list {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }

    .about__text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 48px 12px;

      @include tablet {
        padding: 15px 12px;
      }

      h2 {
        font-size: $h2-size;
        color: $sub-title-color;
      }

      h3 {
        font-size: $h3-size;
        color: $text-color-secondary;
      }

      p {
        color: $color-paragraph;
        font-size: $paragraph-size;
      }

      .about__text-item {
        font-size: $h3-size;
        li {
          display: flex;
          gap: 8px;
          align-items: center;
          color: $link-color;

          svg {
            color: $link-color;
          }
        }
      }

      a {
        text-align: center;
        width: $button-width;
        border-radius: $button-border-radius;
        padding: $button-padding-y $button-padding-x;
        margin: 0.5em 0 0;
        background-color: $color-button;
        border: none;
        cursor: pointer;
        font-size: 0.875rem;
        text-decoration: none;
        color: $text-color-button;
      }
    }

    img {
      max-width: 37%;
      display: block;
      padding: 50px 32px 0 32px;

      @include tablet {
        display: none;
      }
    }
  }
}
