.hero {
  position: relative;
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)),
    url(public/madesHero.jpg);
  height: 100vh;
  background-size: cover;
  //? background-position: center; Colocar esto cuando hagas el responsive

  .wrapper {
    height: 100%;
    margin: auto;

    .textContainer {
      padding-left: 10em;
      padding-top: 17em;

      h1 {
        font-size: 10.5rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      p {
        max-width: 48rem;
        font-size: 1.1rem;
      }

      .arrowicon {
        background: #e91e63;
        width: 70px;
        min-height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        cursor: pointer;
      }
    }

    .social {
      position: absolute;
      top: 40px; /* Ajusta la distancia desde la parte superior */
      right: 70px; /* Ajusta la distancia desde la izquierda */
      display: flex;
      gap: 20px;
      font-size: 1.7rem;

      a {
        color: #fff;
      }
    }
  }
}
