.hero {
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)),
    url(public/mades11.jpg);
  height: 100vh;
  background-size: cover;
  // background-position: center;

  .wrapper {
    max-width: 29.125rem;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .textContainer {
      h1 {
        font-size: 5.5rem;
      }

      h2 {
        font-size: 2.5rem;
      }
    }

    .social {
      position: absolute;
      top: 40px; /* Ajusta la distancia desde la parte superior */
      right: 70px; /* Ajusta la distancia desde la izquierda */
      display: flex;
      gap: 20px;
      font-size: 1.5rem;

      a {
        color: #fff;
      }
    }
  }
}
