@import "../../App.scss";
$container-color: #fbf4e0; // Color de ondo secundario
$sub-title-color: #e25b46; // Color para subtítulos
$text-color: #03111e; // Color principal para el titulo
$text-color-secondary: #33211d; // Color secundario para texto

// Tamaños de texto
$h1-size: clamp(2.5rem, 1.2688rem + 6.0241vi, 5.9375rem);
$h2-size: clamp(1.875rem, 0.9348rem + 4.6002vi, 4.5rem);
$paragraph-size: clamp(1rem, 0.9552rem + 0.2191vi, 1.125rem);

// Espaciado y dimensiones
$color-button: #23aea8; // Color principal para botones
$text-color-button: #fff; // Color para el texto de los botones
$button-width: 8.063rem; // Ancho de los botones
$button-padding: 0.8em 1.5em; // Padding vertical para los botones
$button-border-radius: 5px; // Radio de borde para los botones

.proyectos {
  position: relative;

  .proyectos__progress {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    color: $text-color;
    font-size: 36px;
    max-width: 1366px; /* Agregado */
    margin: 0 auto; /* Agregado */
    background-color: $container-color;
    z-index: 10;

    h1 {
      font-size: $h1-size;
      font-weight: 100;
      padding-top: 3rem;
    }
    .proyectos__progress-bar {
      height: 10px;
      background-color: $color-button;
    }
    @include verticalLine(before);
  }

  .proyectos__single-container {
    max-width: 1366px;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    background-color: $container-color;
    padding: 0 12px;
    @include tablet {
      flex-direction: column;
    }

    .proyectos__single-imageContainer {
      flex: 1;
      z-index: 1; // Asegurarse de que las imágenes estén detrás de .progress
      position: relative; // Necesario para z-index
      @include tablet {
        width: 70%;
        text-align: center;
      }
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .proyectos__single-textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin-bottom: 25rem;
      z-index: 1; // Asegurarse de que el texto esté detrás de .progress
      position: relative; // Necesario para z-index

      h2 {
        font-size: $h2-size;
        color: $sub-title-color;
      }
      p {
        color: $text-color-secondary;
        font-size: $paragraph-size;
      }

      a {
        text-align: center;
        width: $button-width;
        border-radius: $button-border-radius;
        padding: $button-padding;
        margin: 0.5em 0 0;
        background-color: $color-button;
        border: none;
        cursor: pointer;
        font-size: 0.875rem;
        text-decoration: none;
        color: $text-color-button;
      }
    }
  }
}
