.proyectos {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    color: orange;
    font-size: 36px;
    max-width: 1366px; /* Agregado */
    margin: 0 auto; /* Agregado */

    .progressBar {
      height: 10px;
      background-color: white;
    }

    h1 {
      padding-top: 5rem;
    }
  }

  .progress::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 70px;
    left: 50%;
    margin-left: 1px;
    margin-top: 10px;
    background-color: #da9f5b;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      .imageContainer {
        flex: 1;
        height: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 25rem;

        h2 {
          font-size: 72px;
        }
        p {
          color: white;
          font-size: 20px;
        }

        button {
          background-color: orange;
          margin-bottom: 30px;
        }
      }
    }
  }
}
